@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;

  /* for mobile */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  /* for desktop */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  background-color: #fff;
  display: flex;
  min-height: 100%;
  font-family: poppins, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #fff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-main {
  flex-grow: 1;
  padding: 2em 0;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
